@import "tailwindcss";

@theme {
  
  --color-obsidian: #0f0f13;
  --color-matte: #1a1a20;
  --color-neon-cyan: #00f0ff;
  --color-neon-red: #ff2a2a;  


  --font-avant: 'Space Grotesk', sans-serif;
  --font-code: 'JetBrains Mono', monospace;
}

@layer base {
  /* Automatically apply the dark void to the entire app */
  body {
    background-color: var(--color-obsidian);
    color: #e2e8f0; 
    font-family: var(--font-avant);
  }


  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-obsidian); 
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-matte);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-neon-cyan);
  }
}